In [3]:
import numpy as np
array = "ajdjiesksijhbvcamsjkan"

example_array = np.array(list(array))
print(example_array)

print(np.unique(example_array))

['a' 'j' 'd' 'j' 'i' 'e' 's' 'k' 's' 'i' 'j' 'h' 'b' 'v' 'c' 'a' 'm' 's'
 'j' 'k' 'a' 'n']
['a' 'b' 'c' 'd' 'e' 'h' 'i' 'j' 'k' 'm' 'n' 's' 'v']

In [8]:
import pandas as pd

data = pd.Series((0,1,2,3,4,5,6,7,8,9))
print(data)
print(len(data))

print(data.index)

print(data.index.values)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
10
RangeIndex(start=0, stop=10, step=1)
[0 1 2 3 4 5 6 7 8 9]

In [ ]:
data = pd.Series({1999:2.2, 2000 : 2.3, 2001: np.nan })
print(data)

1999    2.2
2000    2.3
2001    NaN
dtype: float64
2.3

In [14]:
print(data[2000])

2.3

In [16]:
data.index.name = "Year"
data.name = "%"

print(data)

Year
1999    2.2
2000    2.3
2001    NaN
Name: %, dtype: float64

In [17]:
panddata = pd.DataFrame([(1.1,1.2,1.3), (2.1,2.2,2.3),(3.1,3.2,3.3)],
                columns = ("Beer","Wine", "sprints"),
                index = ("Virginia", "Texas", "India"))

print(panddata)

          Beer  Wine  sprints
Virginia   1.1   1.2      1.3
Texas      2.1   2.2      2.3
India      3.1   3.2      3.3

In [19]:
print(panddata.head())

print("trails")

print(panddata.tail())

          Beer  Wine  sprints
Virginia   1.1   1.2      1.3
Texas      2.1   2.2      2.3
India      3.1   3.2      3.3
trails
          Beer  Wine  sprints
Virginia   1.1   1.2      1.3
Texas      2.1   2.2      2.3
India      3.1   3.2      3.3

In [20]:
panddata["total"] = 0
print(panddata.head())

          Beer  Wine  sprints  total
Virginia   1.1   1.2      1.3      0
Texas      2.1   2.2      2.3      0
India      3.1   3.2      3.3      0

In [32]:
panddata["novalue"]= np.nan

print(panddata.head())

          Beer  Wine  sprints  total  novalue
Virginia   1.1   1.2      1.3      0      NaN
Texas      2.1   2.2      2.3      0      NaN
India      3.1   3.2      3.3      0      NaN

In [31]:
panddata.dropna()

Empty DataFrame
Columns: [Beer, Wine, sprints, total, novalue]
Index: []

In [29]:
panddata.dropna(how="all", axis=1)

          Beer  Wine  sprints  total
Virginia   1.1   1.2      1.3      0
Texas      2.1   2.2      2.3      0
India      3.1   3.2      3.3      0

In [33]:
panddata.isnull()

           Beer   Wine  sprints  total  novalue
Virginia  False  False    False  False     True
Texas     False  False    False  False     True
India     False  False    False  False     True